/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */


html {
  font-family: sans-serif;
  font-size: 12px;
}

body,html,#root,#app{
  height: 100%;

}

.invisibleRow {
  display: none;
}
.visibleRow {
  display: block;
}

.wraper{
  min-height: 100%;
  margin-bottom: -160px;
    padding-bottom: 160px;
}


#footer{
  height: 160px;
    font-size: 13px;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
    background-color: #a040a0;
    color: #fff;
}


#footer a {
  color: #fff;
  text-decoration: underline;
}
.footerLegend{
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
}

.countryDetailsContanier{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1300;
}
.countryDetails{
  /* background: linear-gradient(90deg, rgb(120, 200, 80) 50%, rgb(160, 64, 160) 50%); */
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1301;

}
.countrySpan{
  color: #fff;
  font-size: 14px;
  background-color: rgba(0,0,0,.5);
  left: 0;
  right: 0;
  z-index: 20;
  text-align: center;
  pointer-events: none;
  position: absolute;
    bottom: 0;
}

.MuiGridList-root{
  position: relative;
}

/*
52.0755960074913%
49.36339684443386%
*/
.coso{
  height: 160px;
  width: 160px;

  background-color: red;
  position: absolute;
  z-index: 9999;
}